In [25]:
from src.backtesting_program import BacktestingPorgram
from src.checker import Checker
import pandas as pd
from config import settings
from src.service import Service
from datetime import datetime, timezone, timedelta, time

In [2]:
with open('tests/testing_data.csv', "r") as fp:
 data = pd.read_csv(fp)

In [23]:
for candle_data in data.itertuples():
  print(candle_data.Time.split(" ")[1].split(":")[0])
  break

18

In [ ]:
candle_time = time(hour=int(candle_data.Time.split(" ")[1].split(":")[0]), minute=int(candle_data.Time.split(" ")[1].split(":")[1]))
test_time = time(hour=int("02"), minute=int("00"))
if candle_time > test_time:
  print(True)

In [18]:
custom_timezone = timezone(timedelta(hours=-5))
dt_custom_tz = datetime.now(custom_timezone)
dt_custom_tz.strftime('%Y-%m-%d %H:%M:%S%z')

'2025-04-13 04:27:38-0500'

In [20]:
data

,Unnamed: 0,Time,Open,High,Low,Close,Volume
0,0,2025-01-01 18:00:00-0500,2624.80,2625.01,2623.90,2624.26,38
1,1,2025-01-01 18:15:00-0500,2624.31,2624.39,2623.18,2623.57,40
2,2,2025-01-01 18:30:00-0500,2623.54,2623.58,2621.40,2622.13,45
3,3,2025-01-01 18:45:00-0500,2621.46,2623.98,2620.70,2623.68,40
4,4,2025-01-01 19:00:00-0500,2623.52,2625.96,2622.00,2625.64,40
...,...,...,...,...,...,...,...
3882,3882,2025-02-28 15:45:00-0500,2849.79,2854.37,2849.41,2854.37,38
3883,3883,2025-02-28 16:00:00-0500,2854.56,2854.86,2852.78,2854.46,38
3884,3884,2025-02-28 16:15:00-0500,2854.74,2857.43,2854.42,2856.36,39
3885,3885,2025-02-28 16:30:00-0500,2856.78,2858.44,2856.28,2857.49,39
3886,3886,2025-02-28 16:45:00-0500,2857.83,2858.87,2857.09,2857.09,39

In [21]:
data.columns

Index(['Unnamed: 0', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')